<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}Ketan Bhatt{% endblock page_title %}</title>
</head>
<body style="background-color:seagreen">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block page_heading %}
    <div style="text-align:center">
        <h1>Gitlink</h1>
        <h4>by Ketan Bhatt</h4>
    </div>
{% endblock page_heading %}
{% block page_body %}
    Github for Hardware
{% endblock page_body %}
</body>
</html>
